@import "tailwindcss";
.scrollbar-hidden::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.scrollbar-hidden {
    scrollbar-width: none;
}

@keyframes blink {
    50% { opacity: 0; }
  }

  .animate-blink {
    animation: blink 0.8s step-start infinite;
  }

